*
{
    z-index: 9;
    font-size: 1rem;
    font-family: "Roboto", sans-serif
}

.image
{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 12vh;
   margin-top: 1em;
}
.image a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 80%;
}
.image img
{
    width: 50%;
    padding: 5% ;
}


.sidebar
{
    background: var(--primary-color2-dark);
    min-width: 14vw;
    
}
.content
{
    min-height: 100vh;
    width: 100%;
}

.h-color
{
    color: var(--secondary-color2-dark);
}



.sidebar ul li a
{
    color: var(--secondary-color2-dark);
    margin: 1em;

}

.list-item
{
    display: flex;
    position: relative;
    
}

.a_container
{
    
    width: 100%;
}

span
{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1em;
}


.sidebar .navbar-nav li div>a:focus 
{
    color: var(--secondary-color1-dark);
    width: 2%;
    background-color:var(--secondary-color1-dark);
    margin-left: 0;
}



/* .sidebar ul .roller div .list-intoList
{
 display:block
}

.sidebar .navbar-nav li div>a:focus 
{
    display: block;
} */














