<app-header></app-header>
<main class="incident-input_main">

    <div class="incident-input_container">
        <h2>Registro de Incidencias</h2>
        <div class="incident-input_city">
            <p>Entrada en:</p>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div class="incident-input_form">
            <div class="incident-input-formInput">

            </div>
            <div class="incident-input-formInput">

            </div>

        </div>

        <div class="incident-input_form">
            <div class="incident-input_formColumn">
                <div class="incident-input-formInput">

                </div>
                <div class="incident-input-formInput">

                </div>
                <div class="incident-input-formInput">

                </div>
            </div>
            <div class="incident-input_formColumn">
                <div class="incident-input-formInput">

                </div>
                <div class="incident-input-formInputShort">

                </div>
                <div class="incident-input-formInputShort">

                </div>
            </div>

        </div>
        <app-button style="width: 30%;">Registro</app-button>
    </div>
</main>