/* .incident-input_main {
    height: 100vh;
    background-color: var(--primary-color1-dark);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--secondary-color2-dark)
}

.incident-input_container {
    height: 80vh;
    width: 90vw;
    background-color: var(--primary-color2-dark);

}

p {
    font-weight: 500;
} */