<main class="incident-input_main">

    <div class="incident-input_container">
        <div class="incident-input_containerFlex">
            <div class="incident-input_moveRight">
                <div class="incident-input_city">
                    <p>Entrada en:</p>
                    <select name="filter_type" class="general-input" #filter_type>
                        <option value="" class="general-input">Usuario mega largo</option>
                        <option value="" class="general-input">Usuario2</option>
                        <option value="" class="general-input">Usuario mucho mas largo todavia</option>
                        <option value="" class="general-input">Usuario4</option>
                        <option value="" class="general-input">Usuario5</option>
                        <option value="" class="general-input">Usuario6</option>

                    </select>
                </div>
            </div>
            <div class="incident-input_form1">

                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <label>Nº Expedicion</label>
                    </div>
                </div>

                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <input #number_expedient class="incident-input_input">
                    </div>
                </div>

                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <label>Tipo de incidencia</label>
                    </div>
                </div>

                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <input value={{incidence.incidence_type}} class="incident-input_input">
                    </div>
                </div>


            </div>



            <div class="incident-input_form2">
                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <label>Nombre</label>
                    </div>
                    <div class="incident-input-formInput">
                        <label>Teléfono</label>
                    </div>
                    <div class="incident-input-formInput">
                        <label>Dirección</label>
                    </div>
                </div>
                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <input value={{incidence.customer_name}} class="incident-input_input">
                    </div>
                    <div class="incident-input-formInput">
                        <input value={{incidence.customer_phone}} class="incident-input_input">
                    </div>
                    <div class="incident-input-formInput">
                        <input value={{incidence.customer_direction}} class="incident-input_input">
                    </div>
                </div>
                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <label>Población</label>
                    </div>
                    <div class="incident-input-formInput">
                        <label>Zona</label>
                    </div>
                    <div class="incident-input-formInput">
                        <label>CP</label>
                    </div>
                </div>
                <div class="incident-input_formColumn">
                    <div class="incident-input-formInput">
                        <input value={{incidence.customer_poblation}} class="incident-input_input">
                    </div>
                    <div class="incident-input-formInput">
                        <input value={{incidence.warehouse_ubication}} class="incident-input_inputShort">
                    </div>
                    <div class="incident-input-formInput">
                        <input value={{incidence.customer_cp}} class="incident-input_inputShort">
                    </div>
                </div>

            </div>
            <div class="incident-input_moveRight">
                <div class="incident-input_btnContainer">
                    <app-button [value]="value" (click)="registrarIncidencia(number_expedient.value)"
                        [style]="'font-size:2rem;'"></app-button>
                </div>
            </div>
        </div>
    </div>
</main>