.returns-main {
  width: 86vw;
  height: 90vh;
  background-color: var(--primary-color1-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.central-page {
  background-color: var(--primary-color2-dark);
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.desplegable {
  width: 80%;
}

.cards {
  width: 95%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 2em;
}

.desplegable-item {
  background-color: var(--primary-color1-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.5em;
}

.body-acordion {
  display: flex;
  gap: 1em;
  color: var(--secondary-color2-dark);
  justify-content: flex-start;
  margin-bottom: 1.5em;
}

.body-acordion>div {
  width: 45%;
  font-size: 2rem;
  padding: 0.5em;
}

.body-acordion input {
  background-color: var(--primary-color2-dark);
  margin-left: 10px;
}

.acordion-title {
  font-size: 2rem;
  color: var(--secondary-color2-dark);
  background-color: var(--primary-color1-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.incidence-input_formColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.incidence-input-formInput {
  display: flex;
  padding: 0.8em;
  gap: 1em;
}

.table {
  width: 95%;
}

.filter_table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 2em;
}