.anchor {
  font-weight: 700;
  cursor: pointer;
  position: relative;
  pointer-events: all;
  white-space: nowrap;
}

.anchor:hover {
  transition: 50ms ease-in-out all;
  color: var(--secondary-color3-dark);
}

a:focus {
  color: black;
}

/* .li:before {
  content: "";
  position: absolute;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: var(--secondary-color1-dark);
  z-index: 999;
} */

@media screen and (max-width: 1400px) {
  .anchor {
    font-size: 1.1rem;
  }
}