.main {
    height: 10vh;
    background: var(--primary-color1-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 81%;
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: space-between;

}