table {
  background-color: var(--secondary-color2) !important;
  position: sticky;
  width: 100%;
  top: 0;
}

.table_container {
  overflow: auto;
  height: 20vh;
}

.table_container::-webkit-scrollbar {
  width: 1.5em;
}

.table_container::-webkit-scrollbar-track {
  background: var(--primary-color1-dark);
}

.table_container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color1-dark);
}

.active {
  color: var(--secondary-color1-dark);
}

.inactive {
  background-color: var(--primary-color1-dark);
}

tr {
  cursor: pointer;
}