<div class="main_historical">
    <div class="main_historical_container">

        <div class="accordion accordion-flush desplegable" id="accordionFlushExample">
            <div class="accordion-item desplegable-item">
                <h2 class="accordion-header acordion-main " id="flush-headingOne">
                    <button class="accordion-button collapsed acordion-title" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOn" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        Filtros Avanzados
                    </button>
                </h2>
                <div id="flush-collapseOn" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body body-acordion ">

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <label>Expedición:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>Ubicación:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>CP:</label>
                            </div>
                        </div>

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                        </div>

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <label>Tipo:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>Estado:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>Población:</label>
                            </div>
                        </div>

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="table">
            <app-table [style]="'height:40vh'" [rows]="rows" [cols]="cols"></app-table>
        </div>

        <div class="result-space">
            <div class="result">Resultado: 156</div>
        </div>

    </div>
</div>