<div class="main_historical">
    <div class="main_historical_container">

        <div class="accordion accordion-flush desplegable" id="accordionFlushExample">
            <div class="accordion-item desplegable-item">
                <h2 class="accordion-header acordion-main " id="flush-headingOne">
                    <button class="accordion-button collapsed acordion-title" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Filtros Avanzados
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body body-acordion ">

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <label>Expedicion:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>Ubicacion:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>CP:</label>
                            </div>
                        </div>

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                        </div>

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <label>Tipo:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>Estado:</label>
                            </div>
                            <div class="incident-input-formInput">
                                <label>Poblacion:</label>
                            </div>
                        </div>

                        <div class="incident-input_formColumn">
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                            <div class="incident-input-formInput">
                                <input class="incident-input_input">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="cards">
            <app-card [style]="'width: 20%; min-height: 10%;'" [title]="'Resultado'" [value]="'156'"></app-card>
        </div>
        <div class="table">
            <app-table [rows]="rows" [cols]="cols" [style]="'font-size:1.5rem; '"></app-table>
        </div>
    </div>
</div>