.main_historical {
  width: 86vw;
  height: 90vh;
  background-color: var(--primary-color1-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_historical_container {
  min-height: 80%;
  width: 90%;
  background-color: var(--primary-color2-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.desplegable {
  width: 85%;
  margin-top: 1em;
}

.desplegable-item {
  background-color: var(--primary-color1-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.body-acordion {
  display: flex;
  flex-direction: row;
 
  gap: 1em;
  color: var(--secondary-color2-dark);
  justify-content: flex-start;
}

.body-acordion div {
  width: 45%;
  font-size: 2rem;
  padding: 0.5em;
}

.body-acordion input {
  background-color: var(--primary-color2-dark);
  margin-left: 10px;
}

.acordion-title {
  font-size: 2rem;
  color: var(--secondary-color2-dark);
  background-color: var(--primary-color1-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.incident-input_form2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color1-dark);
  border: 2px solid var(--primary-color2-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.incident-input_formColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.incident-input-formInput {
  display: flex;
  padding: 0.8em;
  gap: 1em;
}

.cards
{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table
{
  margin-top: 1em;
  width: 85%;
}



