.main_historical {
  width: 86vw;
  height: 90vh;
  background-color: var(--primary-color1-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main_historical_container {
  min-height: 90%;
  width: 95%;
  background-color: var(--primary-color2-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.table {
  margin-top: 1.5em;
  width: 95%;
  margin-bottom: 2em;
}

label {
  font-size: 1.5rem;
}

.result-space {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.result {
  border: 3px solid var(--secondary-color3-dark);
  width: 15%;
  height: 100%;
  color: var(--secondary-color2-dark);
  font-size: 1.5rem;
  text-align: center;
  padding: 0.4em;
}