.filter {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
  color: var(--secondary-color2-dark);
}

.filter > p {
  padding: 0.4em;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 2rem;
}

.filter > button {
  margin: 0px;
  padding-left: 0;
}

.filter > input {
  background-color: var(--primary-color1-dark);
}

.filter_btnContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.filter_dropdown {
  background-color: var(--primary-color1-dark);
  color: var(--secondary-color2-dark);
}

.filter_input {
  width: 20vw;
  background-color: var(--primary-color2-dark);
  padding: 0.7em;
  color: white;
  font-size: 1.3rem;
}
.filter_input::placeholder {
  color: white;
}
.general-input {
  background-color: var(--primary-color1-dark);
  color: var(--secondary-color2-dark);
  font-size: 1.3rem;
  padding: 0.5em;
}
