<div class="filter">
    <p>Filtrar por</p>
    <select name="filter_type" class="general-input" #filter_type>
        <option class="general-input" *ngFor="let col of this.cols">{{col}}</option>
    </select>
    <input class="filter_input" placeholder="Escribe el criterio de búsqueda" #input_value (keypress)="press($event)">
    <div class="filter_btnContainer">
        <app-button [style]="'font-size:1.2rem;padding: .5em 1.2em'" [value]="'Filtrar'"
            (click)="catchParams(filter_type.value, input_value.value)" #button></app-button>
    </div>
</div>