.body-container {
  background-color: var(--primary-color1-dark);
  color: var(--secondary-color2-dark);
  min-height: 100vh;
  padding: 0 20em;
  width: 100vw;
}
.content-container {
  background-color: var(--primary-color2-dark);
  min-height: 100vh;
  padding: 0em 10em ;
}

.text{
    height: 100vh;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

p {
    text-align: center;
}