.main-dashboard {
  height: 90vh;
  width: 86vw;
  background-color: var(--primary-color1-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color2-dark);
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 90%;
  width: 100%;
  font-size: 2rem;
  gap: 2em;
  width: 90%;
  background-color: var(--primary-color2-dark);
  padding: 2em;
}

app-card {
  width: 30%;
  height: fit-content;
}

.grid_container_cards {
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.graphic_container {
  background-color: var(--primary-color2-dark);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  border: 2px solid var(--secondary-color3-dark);
  padding: 2em;
}

.card_container {
  background-color: var(--primary-color2-dark);
  height: 34vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.graphic_show {
  border-radius: 50%;
  width: 38%;
}

.graphic_info {
  color: var(--secondary-color2-dark);
}

.graphic_info--title {
  font-size: 3rem;
}

.graphic_info--parameter {
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.graphic_info--parameter--circle {
  font-size: 1rem;

  width: fit-content;
  border-radius: 50%;
  padding: 0.5em;
}

.graphic_info--parameter--text {
  display: flex;
  align-items: center;
  margin: 0;
}

.wrapper {
  display: flex;
}

.aside_main_wrapper {
  display: flex;
  flex-direction: column;
}

.dashboard-card-content {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.chart-container {
  padding: 1em;
  width: 30%;
}
