<app-header (sendDate)="sendDate($event)"></app-header>
<main class="main-dashboard">

  <div class="dashboard_container">


    <div class="card_container">
      <app-card [title]="card6Title" [value]="card6Percent" [style]="'height:10vh;'"
        [styleTitle]="'font-size: 2rem'"></app-card>
      <app-card [title]="card1Title" [value]="card1Value" [style]="'height:10vh;'"
        [styleTitle]="'font-size: 2rem'"></app-card>
      <app-card [title]="card3Title" [value]="card3Percent" [style]="'height:10vh;'"
        [styleTitle]="'font-size: 2rem'"></app-card>
      <!-- <app-card [title]="card1Title" [value]="card1Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card2Title" [value]="card2Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card3Title" [value]="card3Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card4Title" [value]="card4Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card5Title" [value]="card5Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card> -->


      <!-- <app-card [title]="card6Title" [value]="card6Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card7Title" [value]="card7Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card8Title" [value]="card8Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card9Title" [value]="card9Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card> -->
    </div>
    <div class="graphic_container">
      <div class="pie-chart-container">
        <app-pie-chart></app-pie-chart>
      </div>
      <div class="bar-chart-container">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>
</main>