<app-header (sendDate)="sendDate($event)"></app-header>
<main class="main-dashboard">

  <div class="dashboard_container">
    <div class="grid_container_cards">
      <app-card [title]="card1Title" [value]="card1Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card2Title" [value]="card2Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card3Title" [value]="card3Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card4Title" [value]="card4Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card5Title" [value]="card5Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
    </div>
    <div class="grid_container_cards">
      <!-- <div class="graphic_info">
        <p class="graphic_info--title">Vista General</p>
        <div class="graphic_info--parameter">
          <div [style]="'color: #4472C4; background-color: #4472C4;'" class="graphic_info--parameter--circle">
            xxx
          </div>
          <p class="graphic_info--parameter--text">Solucionadas</p>
        </div>
        <div class="graphic_info--parameter">
          <div [style]="'color: #ED7D31; background-color: #ED7D31;'" class="graphic_info--parameter--circle">
            xxx
          </div>
          <p class="graphic_info--parameter--text">Pendientes de Solución</p>
        </div>
        <div class="graphic_info--parameter">
          <div [style]="'color: #A5A5A5; background-color: #A5A5A5'" class="graphic_info--parameter--circle">
            xxx
          </div>
          <p class="graphic_info--parameter--text">Devoluciones</p>
        </div>
      </div> -->
      <!-- <img src="../../../assets/grafico_muestra.png" class="graphic_show"> -->
      <!-- <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
        (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-advanced-pie-chart> -->
      <app-card [title]="card6Title" [value]="card6Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card7Title" [value]="card7Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card8Title" [value]="card8Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
      <app-card [title]="card9Title" [value]="card9Value" [style]="" [styleTitle]="'font-size: 3.5rem'"></app-card>
    </div>

  </div>
</main>