<main class="incident-output_main">

  <div class="incident-output_container">
    <div class="incident-output_containerFlex">

      <div class="incident-output_formContainer">
        <div class="incident-output_moveRight">
          <div class="incident-output_city">
            <p>Salida de:</p>
            <select name="filter_type" class="general-input" #filter_type>
              <option value="" class="general-input">Usuario mega largo</option>
              <option value="" class="general-input">Usuario2</option>
              <option value="" class="general-input">Usuario mucho mas largo todavia</option>
              <option value="" class="general-input">Usuario4</option>
              <option value="" class="general-input">Usuario5</option>
              <option value="" class="general-input">Usuario6</option>

            </select>
          </div>
        </div>
        <div class="incident-output_form">
          <div class="incident-output-formInput">
            <label>Nº Expedición</label>
            <input class="incident-output_input" input #myInput>
          </div>
          <div class="incident-output-formInput">
            <label>Estado de gestión</label>
            <select name="status" class="general-input" #status>
              <option value="" class="general-input">Puesta en reparto</option>
              <option value="" class="general-input">Devolución</option>
            </select>
          </div>
        </div>
        <div class="incident-output_moveRight">
          <div class="incident-output_btnContainer">
            <app-button [value]="value" (click)="registerStatus()" [style]="'font-size:2rem'">
              ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>