<main class="incident-output_main">

  <div class="incident-output_container">
    <div class="incident-output_containerFlex">

      <div class="incident-output_formContainer">
        <div class="incident-output_moveRight">
          <div class="incident-output_city">
            <p>Entrada en:</p>
            <div class="dropdown">
              <button style="font-size: 2rem;
                        padding:0.4em 0.8em;border-radius: 4px;" class="btn incident-output_dropdown dropdown-toggle"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="incident-output_form">
          <div class="incident-output-formInput">
            <label>Nº Expedicion</label>
            <input class="incident-output_input">
          </div>
          <div class="incident-output-formInput">
            <label>Estado de gestión</label>
            <input class="incident-output_input">
          </div>
        </div>
        <div class="incident-output_moveRight">
          <div class="incident-output_btnContainer">
            <app-button [style]="'font-size:2rem;'" [value]="value"></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>