<main class="login_main">
  <form class="login_container">
    <img src="../../../assets/logo.png" alt="" class="logo">
    <h2>{{recovery ? 'Recuperar contraseña' : 'Iniciar Sesion'}}</h2>
    <input type="text" class="login_input user form-control" placeholder="Usuario" #username>
    <input type="text" class="login_input password form-control" placeholder="Contraseña"
      [ngClass]="recovery ? 'disabled' : ''" [disabled]="recovery" [required]="!recovery">
    <button type="button" class="text-muted bg-transparent border-0 fs-3 mb-5" (click)="toggleModal()">¿Has olvidado
      tu contraseña?</button>
    <app-button (click)="recovery ? recover(username.value) : logIn(username) " style=" font-size: 2rem;;"
      [value]="recovery ? 'Recuperar contraseña' : 'Iniciar Sesion' "></app-button>
  </form>
</main>