<app-header></app-header>
<main class="incidence-output_main">

  <div class="incidence-output_container">
    <div class="incidence-output_containerFlex">

      <div class="incidence-output_formContainer">
        <div class="incidence-output_moveRight">
          <div class="incidence-output_city">
            <p>Salida de:</p>
            <select name="filter_type" class="general-input" #warehouse_id>
              <option disabled selected>Selecciona una opción</option>
              <option *ngFor="let warehouse of this.warehouses" [value]="warehouse.warehouse_id">
                {{warehouse.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="incidence-output_form">
          <div class="incidence-output-formInput">
            <label>Nº Expedición</label>
            <input class="incidence-output_input" #incidence_ref (keypress)="press($event)">
          </div>
          <div class="incidence-output-formInput">
            <label>Estado de gestión</label>
            <select name="status" class="general-input" #status_id>
              <option disabled selected>Selecciona una opción</option>
              <option *ngFor="let state of this.status" [value]="state.status_id">
                {{state.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="incidence-output_moveRight">
          <div class="incidence-output_btnContainer">
            <app-button [value]="value"
              (click)="registerStatus(incidence_ref.value, warehouse_id.value, status_id.value)"
              [style]="'font-size:2rem'">
              ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>