<main class="user-admin_main">

    <div class="user-admin_container">
        <div class="user-admin_containerFlex">
            <div class="user-admin_filter">
                <p>Filtrar por</p>
                <select name="filter_type" class="general-input" #filter_type>
                    <option value="" class="general-input">Nombre</option>
                    <option value="" class="general-input">Email</option>
                    <option value="" class="general-input">Tipo</option>
                    <option value="" class="general-input">Activo</option>
                    <option value="" class="general-input">Ubicación</option>
                    <option value="" class="general-input">Cliente</option>

                </select>
                <input class="user-admin_input" placeholder="Alberto">
                <div class="user-admin_btnContainer">
                    <app-button [style]="'font-size:2rem;'" [value]="value"></app-button>
                </div>
            </div>

            <app-table [rows]="rows" [cols]="cols" [style]="'font-size:1.5rem; height:30vh;'"></app-table>

            <div class="user-admin_form">

                <div class="user-admin_formColumn">
                    <div class="user-admin_formInput">
                        <div class="user-admin_formGroup">
                            <div class="user-admin_formColumnShort">
                                <label>Código</label>
                                <input class="user-admin_inputShort">

                            </div>
                            <div class="user-admin_formColumnShort">
                                <label>Clave</label>
                                <input class="user-admin_inputShort">

                            </div>
                        </div>
                        <label>Nombre</label>
                        <input class="user-admin_input">
                        <label>Email</label>
                        <input class="user-admin_input">
                    </div>
                </div>

                <div class="user-admin_formColumn">
                    <div class="user-admin_formInput">
                        <div class="user-admin_formGroupTogether">
                            <div class="user-admin_btnContainer">
                                <app-button [style]="'font-size:1.2rem;padding:0.5em 0.5em;'"
                                    [value]="'Cambiar clave'"></app-button>
                            </div>
                            <div class="user-admin_btnContainer">
                                <app-button [style]="'font-size:1.2rem;padding:0.5em 0.5em;'"
                                    [value]="'Mostrar clave'"></app-button>
                            </div>
                        </div>
                        <label>Tipo de Usuario</label>
                        <input class="user-admin_input">
                        <label>Cliente Titular</label>
                        <input class="user-admin_input">
                    </div>
                </div>

                <div class="user-admin_formColumn3">
                    <div class="user-admin_formInput3">

                        <div class="user-admin_location">
                            <label>Ubicación</label>
                            <input class="user-admin_input">
                        </div>
                        <div class="user-admin_formGroupActivo">
                            <div class="user-admin_formGroup">
                                <label>Activo:</label>
                                <div class="user-admin_btnContainerX">
                                    <button class="button_check">X</button>
                                </div>
                            </div>
                            <div class="user-admin_btnContainerRight">
                                <app-button [style]="'font-size:1.3rem;'" [value]="'Crear'"></app-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>