.user-admin_main {
  height: 90vh;
  width: 86vw;
  background-color: var(--primary-color1-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color2-dark);
}

.user-admin_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: var(--primary-color2-dark);
  font-size: 2rem;
}

.user-admin_containerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2em;
  gap: 1em;
}

.user-admin_filter {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.user-admin_filter > p {
  padding: 0.4em;
  padding-left: 0;
  margin-bottom: 0;
}

.user-admin_filter > button {
  padding: 0.4em;
  margin: 0px;
  padding-left: 0;
}

.user-admin_filter > input {
  background-color: var(--primary-color1-dark);
}

.user-admin_btnContainer {
  display: flex;
  justify-content: flex-start;
}

.user-admin_dropdown {
  background-color: var(--primary-color1-dark);
  color: var(--secondary-color2-dark);
}

.user-admin_input {
  width: 15vw;
  background-color: var(--primary-color2-dark);
  padding: 10px;
}

.user-admin_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  background-color: var(--primary-color1-dark);
  border: 2px solid var(--primary-color2-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-admin_formColumn {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 33.33%;
}

.user-admin_formColumn3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.user-admin_formColumnShort {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4em;
}

.user-admin_formInput {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}

.user-admin_formInput3 {
  height: 74.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  gap: 0.5em;
}

.user-admin_inputShort {
  width: 7vw;
  background-color: var(--primary-color2-dark);
}

.user-admin_formGroup {
  display: flex;
  justify-content: space-between;
}
.user-admin_formGroupTogether {
  display: flex;
  justify-content: flex-start;
}
.user-admin_formGroupActivo {
  display: flex;
  justify-content: space-between;
}
.user-admin_formGroupActivo > * {
  width: 20%;
}
.user-admin_btnContainer {
  display: flex;
  justify-content: flex-start;
  width: 7vw;
}

.user-admin_btnContainerRight {
  display: flex;
  justify-content: flex-end;
  width: 7vw;
}

.user-admin_btnContainerX {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.4em;
}

.user-admin_location {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.general-input {
  background-color: var(--primary-color1-dark);
  color: var(--secondary-color2-dark);
  padding: 0.4em;
}

@media screen and (max-width: 1400px) {
  .user-admin_formGroupTogether {
    gap: 10px;
  }
  .user-admin_formGroupActivo {
    gap: 10px;
  }
}
