<div class="solved-pull-main">

    <div class="solved-pull-container">

    <div class="central-page">
        <h1>Pool Solucionadas</h1>

        <div class="accordion accordion-flush desplegable" id="accordionFlushExample">
            <div class="accordion-item desplegable-item">
              <h2 class="accordion-header acordion-main " id="flush-headingOne">
                <button class="accordion-button collapsed acordion-title" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Filtros Avanzados
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body body-acordion">
                    <div>Expedicion:<input type="text"></div>
                    <div>Tipo Incidencia:<input type="text"></div>
                    <div>Ubicacion:<input type="text"></div>

                </div>
              </div>
            </div>
          </div>

          

        <div class="cards">
            <app-card [title]="'Cart Extra'" [value]="'X'"></app-card>
            <app-card [title]="'Pendientes de Salida'" [value]="'16'"></app-card>
            <app-card [title]="'Seleccionadas para Impresion'" [value]="'8'"></app-card>
        </div>
        <app-button value="Imprimir Etiquetas de Incidencias Solucionadas"></app-button>
        
    </div>

    </div>
</div>
